<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
    <header id="header">
        <%- include('../partials/header'); %>
    </header>
    <main id="main">
       <section class="projects">
            <h1 class="section-title">My Projects</h1>
                <div class="cards-container">
                <div class="image-card-1">
                    <div class="image">
                        <img src="public/images/project1.png"/>
                    </div>
                    <div class="content">
                        <h4 class="title">Ecommerce Order Form</h4>
                        <p>
                            An ecommerce app handling product cart in a simulated environment (Dollar Computers).
                        </p>
                    </div>
                </div>
                <div class="image-card-1">
                    <div class="image">
                        <img src="public/images/project2.png"/>
                    </div>
                    <div class="content">
                        <h4 class="title">BMI Calculator</h4>
                        <p>
                            A fast and efficient app to calculate BMI on the go.
                        </p>
                    </div>
                </div>
                <div class="image-card-1">
                    <div class="image">
                        <img src="public/images/project3.png"/>
                    </div>
                    <div class="content">
                        <h4 class="title">RPG Character Creator</h4>
                        <p>
                           An app with which different RPG characters can be created with special attributes like strength, agility, etc.
                        </p>
                    </div>
                </div>
            </div>
       </section>
    </main>
    <footer id="footer">
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>